body{
    padding: 100px;
}
.submitArea{
    margin-top: 20px;
    padding: 30px;
    border-radius:10px;
}
button{
    width: auto;
    font-size: 20px;
    font-weight: bold;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color:slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    width: 300px;
    height: 150px;
    margin: 0 20px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 35px 20px;
}
